In [1]:
#imports
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

#pandas profiling
from pandas_profiling import ProfileReport

#sklearn stuff
from sklearn.pipeline import Pipeline
from feature_engine.discretisers import EqualFrequencyDiscretiser
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier, GradientBoostingRegressor, GradientBoostingClassifier
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR, SVC

In [2]:
# Import the Dataset
data = pd.read_csv('Credit_Data.csv')
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,female,university,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,default
1,2,120000,female,university,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,default
2,3,90000,female,university,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,not default
3,4,50000,female,university,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,not default
4,5,50000,male,university,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,not default

In [3]:
# Rename column
data['default'] = data['default payment next month']
# Drop unneeded columns
data = data.drop(['ID', 'default payment next month'], axis=1)

In [4]:
# Drop duplicate rows
data = data.drop_duplicates()

# Check for nulls
nulls = data.isnull().sum()
nulls

LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
default      0
dtype: int64

In [5]:
# Check datatypes
data.dtypes

LIMIT_BAL     int64
SEX          object
EDUCATION    object
MARRIAGE      int64
AGE           int64
PAY_0         int64
PAY_2         int64
PAY_3         int64
PAY_4         int64
PAY_5         int64
PAY_6         int64
BILL_AMT1     int64
BILL_AMT2     int64
BILL_AMT3     int64
BILL_AMT4     int64
BILL_AMT5     int64
BILL_AMT6     int64
PAY_AMT1      int64
PAY_AMT2      int64
PAY_AMT3      int64
PAY_AMT4      int64
PAY_AMT5      int64
PAY_AMT6      int64
default      object
dtype: object

In [6]:
# Encode as needed
le = LabelEncoder()
le.fit(data['SEX'])
data['SEX'] = le.transform(data['SEX'])

In [7]:
# Encode as needed
le = LabelEncoder()
le.fit(data['default'])
data['default'] = le.transform(data['default'])

In [8]:
# One-hot encode objects
data = pd.get_dummies(data)

In [9]:
# Check datatypes
data.dtypes

LIMIT_BAL                    int64
SEX                          int32
MARRIAGE                     int64
AGE                          int64
PAY_0                        int64
PAY_2                        int64
PAY_3                        int64
PAY_4                        int64
PAY_5                        int64
PAY_6                        int64
BILL_AMT1                    int64
BILL_AMT2                    int64
BILL_AMT3                    int64
BILL_AMT4                    int64
BILL_AMT5                    int64
BILL_AMT6                    int64
PAY_AMT1                     int64
PAY_AMT2                     int64
PAY_AMT3                     int64
PAY_AMT4                     int64
PAY_AMT5                     int64
PAY_AMT6                     int64
default                      int32
EDUCATION_graduate school    uint8
EDUCATION_high school        uint8
EDUCATION_other              uint8
EDUCATION_university         uint8
dtype: object

In [10]:
# View the makeup of the data
data.describe()

,LIMIT_BAL,SEX,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,EDUCATION_graduate school,EDUCATION_high school,EDUCATION_other,EDUCATION_university
count,29965.000000,29965.000000,29965.000000,29965.000000,29965.000000,29965.000000,29965.000000,29965.000000,29965.000000,29965.000000,...,2.996500e+04,29965.000000,29965.000000,29965.000000,29965.000000,29965.000000,29965.000000,29965.000000,29965.000000,29965.000000
mean,167442.005006,0.396262,1.551877,35.487969,-0.016753,-0.131854,-0.164392,-0.218922,-0.264509,-0.289438,...,5.927983e+03,5231.688837,4831.617454,4804.897047,5221.498014,0.778742,0.352511,0.164025,0.015618,0.467846
std,129760.135222,0.489128,0.521997,9.219459,1.123492,1.196322,1.195878,1.168175,1.132220,1.149090,...,2.305346e+04,17616.361124,15674.464538,15286.372298,17786.976864,0.415101,0.477760,0.370304,0.123995,0.498973
min,10000.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,0.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,8.500000e+02,390.000000,300.000000,261.000000,131.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,140000.000000,0.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.010000e+03,1804.000000,1500.000000,1500.000000,1500.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,240000.000000,1.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.000000e+03,4512.000000,4016.000000,4042.000000,4000.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,1000000.000000,1.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000,1.000000,1.000000,1.000000,1.000000

There are 29,965 distinct customer loans
The average credit limit is 167,442, minimum credit limit is 10,000 and max is 1,000,000
Education level is mostly graduate school and university
Average age is 35.5 with a standard deviation of 9.2
There are 22% of customer loans that will default next month

In [12]:
# Shift pay features for -2
data['PAY_0'] = data['PAY_0'].replace(-2,0)
data['PAY_2'] = data['PAY_2'].replace(-2,0)
data['PAY_3'] = data['PAY_3'].replace(-2,0)
data['PAY_4'] = data['PAY_4'].replace(-2,0)
data['PAY_5'] = data['PAY_5'].replace(-2,0)
data['PAY_6'] = data['PAY_6'].replace(-2,0)

# Shift pay features for -1
data['PAY_0'] = data['PAY_0'].replace(-1,0)
data['PAY_2'] = data['PAY_2'].replace(-1,0)
data['PAY_3'] = data['PAY_3'].replace(-1,0)
data['PAY_4'] = data['PAY_4'].replace(-1,0)
data['PAY_5'] = data['PAY_5'].replace(-1,0)
data['PAY_6'] = data['PAY_6'].replace(-1,0)

In [13]:
data.head()

,LIMIT_BAL,SEX,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,EDUCATION_graduate school,EDUCATION_high school,EDUCATION_other,EDUCATION_university
0,20000,0,1,24,2,2,0,0,0,0,...,689,0,0,0,0,0,0,0,0,1
1,120000,0,2,26,0,2,0,0,0,2,...,1000,1000,1000,0,2000,0,0,0,0,1
2,90000,0,2,34,0,0,0,0,0,0,...,1500,1000,1000,1000,5000,1,0,0,0,1
3,50000,0,1,37,0,0,0,0,0,0,...,2019,1200,1100,1069,1000,1,0,0,0,1
4,50000,1,1,57,0,0,0,0,0,0,...,36681,10000,9000,689,679,1,0,0,0,1

In [14]:
# Check the correlations of the variables
data.corr()

,LIMIT_BAL,SEX,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,EDUCATION_graduate school,EDUCATION_high school,EDUCATION_other,EDUCATION_university
LIMIT_BAL,1.000000,-0.025015,-0.108081,0.144643,-0.170975,-0.197039,-0.191185,-0.180492,-0.169903,-0.167674,...,0.178584,0.210375,0.203451,0.217421,0.219807,0.153871,0.258512,-0.139583,0.013468,-0.147280
SEX,-0.025015,1.000000,0.031372,0.091057,0.034612,0.044685,0.041064,0.039565,0.038349,0.031869,...,0.001390,0.008599,0.002227,0.001665,0.002765,-0.039742,0.022890,0.007807,-0.008502,-0.025598
MARRIAGE,-0.108081,0.031372,1.000000,-0.413901,-0.011770,-0.010001,0.000565,-0.004201,-0.002941,0.001885,...,-0.008099,-0.003545,-0.012668,-0.001207,-0.006646,0.024019,0.142187,-0.110925,-0.008393,-0.051735
AGE,0.144643,0.091057,-0.413901,1.000000,-0.001401,-0.008783,-0.014171,-0.007167,-0.013141,-0.016816,...,0.021726,0.029181,0.021306,0.022777,0.019409,-0.013619,-0.100403,0.231322,0.008952,-0.077762
PAY_0,-0.170975,0.034612,-0.011770,-0.001401,1.000000,0.698771,0.517209,0.460391,0.424593,0.373883,...,-0.057092,-0.062507,-0.061768,-0.053659,-0.048616,-0.396200,-0.068575,0.042082,-0.025403,0.040742
PAY_2,-0.197039,0.044685,-0.010001,-0.008783,0.698771,1.000000,0.663434,0.512599,0.462524,0.406853,...,-0.054946,-0.059989,-0.054108,-0.048843,-0.043218,-0.327095,-0.083326,0.043769,-0.038228,0.056801
PAY_3,-0.191185,0.041064,0.000565,-0.014171,0.517209,0.663434,1.000000,0.678639,0.551006,0.492344,...,-0.073776,-0.057812,-0.053961,-0.050916,-0.048547,-0.286898,-0.071400,0.041765,-0.041327,0.047639
PAY_4,-0.180492,0.039565,-0.004201,-0.007167,0.460391,0.512599,0.678639,1.000000,0.745171,0.602485,...,-0.036951,-0.074166,-0.055400,-0.052827,-0.048917,-0.268937,-0.067921,0.039347,-0.036484,0.044898
PAY_5,-0.169903,0.038349,-0.002941,-0.013141,0.424593,0.462524,0.551006,0.745171,1.000000,0.740088,...,-0.039651,-0.037341,-0.066032,-0.051898,-0.046185,-0.260721,-0.057033,0.029220,-0.035144,0.041656
PAY_6,-0.167674,0.031869,0.001885,-0.016816,0.373883,0.406853,0.492344,0.602485,0.740088,1.000000,...,-0.039936,-0.040236,-0.030532,-0.066969,-0.045436,-0.244290,-0.046825,0.020000,-0.034644,0.038601
BILL_AMT1,0.285877,0.033675,-0.023505,0.056092,-0.000499,0.011422,-0.020799,-0.025361,-0.018721,-0.019728,...,0.099181,0.156702,0.158110,0.166832,0.179166,0.019758,-0.023601,-0.022252,0.036272,0.030097
BILL_AMT2,0.278753,0.031214,-0.021633,0.054136,0.009461,0.015673,-0.001165,-0.012735,-0.008745,-0.009928,...,0.100679,0.150532,0.147203,0.157761,0.174080,0.014302,-0.019888,-0.023006,0.030685,0.028491
BILL_AMT3,0.283671,0.024588,-0.024943,0.053566,0.013628,0.022699,0.002255,0.002518,0.003257,0.001564,...,0.316832,0.129822,0.143211,0.179526,0.182155,0.014182,-0.012667,-0.023047,0.028861,0.022061
BILL_AMT4,0.294428,0.021902,-0.023376,0.051209,0.022423,0.032222,0.016399,0.014512,0.024036,0.020487,...,0.207427,0.299887,0.129995,0.160242,0.177466,0.010259,-0.003358,-0.031519,0.020861,0.021423
BILL_AMT5,0.295999,0.017023,-0.025426,0.049202,0.031056,0.040184,0.026025,0.027107,0.036123,0.041692,...,0.181104,0.252156,0.292975,0.141380,0.164011,0.006859,0.001391,-0.031948,0.011716,0.019466
BILL_AMT6,0.290816,0.016750,-0.021236,0.047470,0.030520,0.041988,0.028813,0.033013,0.042530,0.045923,...,0.172519,0.233617,0.250082,0.307587,0.115309,0.005469,-0.002087,-0.031217,0.003322,0.024339
PAY_AMT1,0.195454,0.000240,-0.005985,0.026068,-0.079051,-0.097626,-0.039470,-0.054587,-0.053781,-0.047893,...,0.285505,0.252105,0.199462,0.148356,0.185643,0.073015,0.050086,-0.021432,0.004396,-0.033144
PAY_AMT2,0.178584,0.001390,-0.008099,0.021726,-0.057092,-0.054946,-0.073776,-0.036951,-0.039651,-0.039936,...,1.000000,0.244705,0.180033,0.180833,0.157562,0.058643,0.044611,-0.016766,0.011967,-0.033246
PAY_AMT3,0.210375,0.008599,-0.003545,0.029181,-0.062507,-0.059989,-0.057812,-0.074166,-0.037341,-0.040236,...,0.244705,1.000000,0.216244,0.159125,0.162657,0.056319,0.056231,-0.031836,0.022231,-0.035738
PAY_AMT4,0.203451,0.002227,-0.012668,0.021306,-0.061768,-0.054108,-0.053961,-0.055400,-0.066032,-0.030532,...,0.180033,0.216244,1.000000,0.151738,0.157748,0.056898,0.046367,-0.023665,0.001051,-0.027094
PAY_AMT5,0.217421,0.001665,-0.001207,0.022777,-0.053659,-0.048843,-0.050916,-0.052827,-0.051898,-0.066969,...,0.180833,0.159125,0.151738,1.000000,0.154807,0.055194,0.047480,-0.034885,0.007350,-0.021398
PAY_AMT6,0.219807,0.002765,-0.006646,0.019409,-0.048616,-0.043218,-0.048547,-0.048917,-0.046185,-0.045436,...,0.157562,0.162657,0.157748,0.154807,1.000000,0.053250,0.050376,-0.034722,0.015966,-0.026434
default,0.153871,-0.039742,0.024019,-0.013619,-0.396200,-0.327095,-0.286898,-0.268937,-0.260721,-0.244290,...,0.058643,0.056319,0.056898,0.055194,0.053250,1.000000,0.051351,-0.032462,0.045744,-0.036444
EDUCATION_graduate school,0.258512,0.022890,0.142187,-0.100403,-0.068575,-0.083326,-0.071400,-0.067921,-0.057033,-0.046825,...,0.044611,0.056231,0.046367,0.047480,0.050376,0.051351,1.000000,-0.326835,-0.092940,-0.691836
EDUCATION_high school,-0.139583,0.007807,-0.110925,0.231322,0.042082,0.043769,0.041765,0.039347,0.029220,0.020000,...,-0.016766,-0.031836,-0.023665,-0.034885,-0.034722,-0.032462,-0.326835,1.000000,-0.055795,-0.415327
EDUCATION_other,0.013468,-0.008502,-0.008393,0.008952,-0.025403,-0.038228,-0.041327,-0.036484,-0.035144,-0.034644,...,0.011967,0.022231,0.001051,0.007350,0.015966,0.045744,-0.092940,-0.055795,1.000000,-0.118105
EDUCATION_university,-0.147280,-0.025598,-0.051735,-0.077762,0.040742,0.056801,0.047639,0.044898,0.041656,0.038601,...,-0.033246,-0.035738,-0.027094,-0.021398,-0.026434,-0.036444,-0.691836,-0.415327,-0.118105,1.000000

The repayment status variables PAY_0 - PAY_6 have the highest correlation in the dataset with customer defaults.

In [15]:
# Rename column PAY_0 to PAY_1
data = data.rename(columns={'PAY_0': 'PAY_1'})
data.head()

,LIMIT_BAL,SEX,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,EDUCATION_graduate school,EDUCATION_high school,EDUCATION_other,EDUCATION_university
0,20000,0,1,24,2,2,0,0,0,0,...,689,0,0,0,0,0,0,0,0,1
1,120000,0,2,26,0,2,0,0,0,2,...,1000,1000,1000,0,2000,0,0,0,0,1
2,90000,0,2,34,0,0,0,0,0,0,...,1500,1000,1000,1000,5000,1,0,0,0,1
3,50000,0,1,37,0,0,0,0,0,0,...,2019,1200,1100,1069,1000,1,0,0,0,1
4,50000,1,1,57,0,0,0,0,0,0,...,36681,10000,9000,689,679,1,0,0,0,1

In [16]:
# Rename education columns
data = data.rename(columns={'EDUCATION_graduate school':'Grad School', 'EDUCATION_high school':'High School',
                           'EDUCATION_other':'Edu_Other', 'EDUCATION_university':'University'})
data.head()

,LIMIT_BAL,SEX,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,Grad School,High School,Edu_Other,University
0,20000,0,1,24,2,2,0,0,0,0,...,689,0,0,0,0,0,0,0,0,1
1,120000,0,2,26,0,2,0,0,0,2,...,1000,1000,1000,0,2000,0,0,0,0,1
2,90000,0,2,34,0,0,0,0,0,0,...,1500,1000,1000,1000,5000,1,0,0,0,1
3,50000,0,1,37,0,0,0,0,0,0,...,2019,1200,1100,1069,1000,1,0,0,0,1
4,50000,1,1,57,0,0,0,0,0,0,...,36681,10000,9000,689,679,1,0,0,0,1

In [17]:
# Fix values for the variable SEX (1=male; 2=female)
data['SEX'] = data['SEX'].replace(0,2)
data.head()

,LIMIT_BAL,SEX,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,Grad School,High School,Edu_Other,University
0,20000,2,1,24,2,2,0,0,0,0,...,689,0,0,0,0,0,0,0,0,1
1,120000,2,2,26,0,2,0,0,0,2,...,1000,1000,1000,0,2000,0,0,0,0,1
2,90000,2,2,34,0,0,0,0,0,0,...,1500,1000,1000,1000,5000,1,0,0,0,1
3,50000,2,1,37,0,0,0,0,0,0,...,2019,1200,1100,1069,1000,1,0,0,0,1
4,50000,1,1,57,0,0,0,0,0,0,...,36681,10000,9000,689,679,1,0,0,0,1

In [18]:
# Fix values for the variable default (Yes=1; No=0)
data['default'] = data['default'].replace(1,2)

In [19]:
data['default'] = data['default'].replace(0,1)

In [20]:
data['default'] = data['default'].replace(2,0)
data.head()

,LIMIT_BAL,SEX,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,Grad School,High School,Edu_Other,University
0,20000,2,1,24,2,2,0,0,0,0,...,689,0,0,0,0,1,0,0,0,1
1,120000,2,2,26,0,2,0,0,0,2,...,1000,1000,1000,0,2000,1,0,0,0,1
2,90000,2,2,34,0,0,0,0,0,0,...,1500,1000,1000,1000,5000,0,0,0,0,1
3,50000,2,1,37,0,0,0,0,0,0,...,2019,1200,1100,1069,1000,0,0,0,0,1
4,50000,1,1,57,0,0,0,0,0,0,...,36681,10000,9000,689,679,0,0,0,0,1

All datatypes have been changed to numeric values, duplicate and unwanted rows have been removed, education level has been split into separate variables, all value labels for SEX and default have been changed to match the Data Set and Attribute Information Source provided by I-Cheng Yeh, all -2 and -1 value labels for PAY_1 - PAY_6 have been grouped with the 0 value label to represent a duly paid status.

In [21]:
# Save the cleaned dataset in a csv file
data.to_csv('Cleaned_Credit.csv', index=False)